version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "auto-merge"
    commit-message:
      prefix: "build"
    groups:
      production:
        patterns:
          - "*"
        exclude-patterns:
          - "@types/*"
          - "typescript"
          - "tsx"
          - "vitest"
        update-types:
          - "minor"
          - "patch"
      dev:
        patterns:
          - "@types/*"
          - "typescript"
          - "tsx"
          - "vitest"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    labels:
      - "ci-cd"
      - "auto-merge"
    commit-message:
      prefix: "ci"
